@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  color: #33323d;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Ibarra Real Nova", serif;
}

p {
  font-family: "Public Sans", sans-serif;
}

body {
  width: 100vw;
  background-color: #f2f2f2;
  overflow-x: hidden;
  max-width: 1600px;
  margin: auto;
}

button {
  cursor: pointer;
}
